.postsBlock{
    margin: 20px 80px;
    margin-bottom: 40px;
    background-color:  white;
}

.posts{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: 20px;
}

.inputPostBlock{
    margin-bottom: 30px;
}

.buttonPost button{
    background-color: #036451a1;
    color: white;
}

.postsBlock h3{
    text-transform: uppercase;
    color:rgba(0, 0, 0, 0.466);
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
    background-color: #036451a1;
    padding: 10px 0
}

.error{
    margin-left: 10px;
    color: rgba(255, 0, 0, 0.637);
    font-size: 13px;
}