.nav{
    grid-area: n;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
   
  }
  
.item{
  height: 100px;
  margin: 10px;
  padding-top: 50px;
  background-color: rgba(189, 189, 189, 0.233);
}

.item:hover{
  background-color: #03645188;
  transform: scale(0.9);
  transition: all .3s;
}

  .item a{
    text-decoration: none;
    color:rgba(0, 0, 0, 0.514);
    font-weight: bold;
  }

 .item a.active {
   color: #036451cc;
   font-size: 20px;
 } 