.dialog img{
    max-width: 70px;
    border-radius: 50%;
}

.dialog .name{
    text-align: center;
}

.dialog{
    margin-bottom: 20px;
}



.dialogsItem{
    border-right: 2px solid rgba(0, 0, 0, 0.247);
    padding-right: 70px;
}

.dialogs{
    
    display: flex;
    grid-template-columns: 3fr 5fr;
    padding: 20px
}



.dialog a {
    color: black;
    text-decoration: none;
    background-color: #03645188;
}

.dialog a.active{
    color: black;
    font-weight: bold;
    background-color: rgb(255, 255, 255)
}

.dialogMessage{
    margin-top: 20px;
    margin-left: 70px;
    padding: 10px;
    width: 100%;
    height:100px;
   
    display: grid;
    grid-template-areas: "a b";
    grid-template-columns: 1fr 3fr;
   
}


.dialog_topItem{
    grid-area: a;
    border-right: 2px solid rgba(0, 0, 0, 0.247);
}

.doalog_bottomItem{
    grid-area: b;
    margin-left: 30px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    color:rgba(0, 0, 0, 0.671);

}


.dialogMessage img{
    max-width: 50px;
}

.messageForm{
    margin-top: 40px;
    margin-left: 70px;
}

.messageForm textarea{
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    background-color: white;
    border: none;
    padding: 0 10px;
    color: black;
}

.messageForm .messageButton button{
    font-size: 10px;
    width: 150px;
    text-transform: uppercase;
    padding: 15px; 
    margin-top: 10px;
    background-color: #036451a1;
    color: white;
    border: none;
    transition:  background-color 1s, color 1s;
}



.error{
    color: rgba(255, 0, 0, 0.637);
    font-size: 13px;
}

